#Options -Indexes
#Options +FollowSymLinks

DirectoryIndex index.php index.html index.htm
ErrorDocument 404 /poop/index.php

#<IfModule mod_rewrite.c>
#  RewriteEngine on
#
#  RewriteBase /poop
#
#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteCond %{REQUEST_FILENAME} !-d
#  RewriteRule ^ index.php [P]
#
#</IfModule>